*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas: 
    "zh zh"
    "za zs"
    "zf zf";
}
header{
    grid-area: zh;
    background-color: #000; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#div_foto > img{
    height: 100%;
}

#div_foto{
    height: 80%;
    
}

aside{
    grid-area: za;
    background-color: black;
    color: white;
}
section {
    grid-area: zs;
    background-color: white; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section > div {
    border: 1px solid black;
    height: 200px;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    grid-area: zf;
    background-color: #000; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


#div_modal{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#div_registro{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fondoini{
    width: 100%;
    height: 100%;
    background-image: url(../img/eren-yildiz-88T_sr0LDeg-unsplash.jpg);
    background-size: cover;
    background-blend-mode: color-dodge;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center ;
    
}

.img_logo{
    position:fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.img_logo > img{
height: 100%;

}

#r_inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background-color: bisque;
}


#inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;

}

#info_error{
    text-align: center;
}


input{
    width: 90%;
    padding: 4px;
    padding-left: 0px;
    border-style: hidden;
    border-bottom: rgba(0, 0, 0, 0.24) solid 1px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    outline: none;
    
    
}

label{
    width: 90%;
    margin-top: 4px;
}

.backgroundlogo{
    width: 40%;
    height: 100%;
    background-color: rgb(77, 51, 42);
    display: none;
    align-items: center;
    justify-content: center;
}

#botonregistro{
    width: 60%;
    background-color: rgba(77, 51, 42,255);
    opacity: 0.9;
    margin: 10px;
    color: white;
    border-radius: 10px;

}


#botonlogin{
    width: 60%;
    background-color: rgba(77, 51, 42,255);
    opacity: 0.9;
    margin: 10px;
    color: white;
    border-radius: 10px;

}


#h{
    background-image: url(../img/tyler-nix-wVexcTg7oXY-unsplash.jpg);
}



@media screen and (min-width:1000px){
    .fondoini{
        width: 60%;

    }

    .backgroundlogo{
        display: flex;
       
    }

}

@media screen and (min-width:600px){
   
    #inputs{
        background-color: bisque;
        border-bottom: rgb(77, 51, 42) solid 4px;
        border-right: rgb(77, 51, 42) solid 4px;
    }

}





